[submodule "themes/hugo-theme-blueberry-detox"]
	path = themes/hugo-theme-blueberry-detox
	url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git
[submodule "themes/hugo-theme-novela"]
	path = themes/hugo-theme-novela
	url = https://github.com/forestryio/hugo-theme-novela.git
